<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ServerSeed" value="thanks"/>
        <add key="ClientSeed" value="hello"/>
        <add key="Nonce" value="10"/>
        
        <add key="RunSimulation" value="false"/>
        <add key="GameToSimulate" value="Plinko"/>
        <add key="StartingBalance" value="1000"/>
        <add key="NumberOfSimulatedSpins" value="1000"/>
        <add key="BaseBetSize" value=""/>
        <add key="BetChangeOnWin" value=""/>
        <add key="BetChangeOnLoss" value=""/>
        <add key="StopOnNetGain" value=""/>
        <add key="StopOnNetLoss" value=""/>
        
        <add key="RunSingleSpin" value="true"/>
        <add key="GameToSpin" value="dice"/>
        
        <add key="PlinkoDifficulty" value="expert"/>
        <add key="PlinkoNumberOfRows" value="16"/>
        
        <add key="MinesNumberOfMines" value="8"/>
        
        <add key="PumpDifficulty" value="hard"/>
        <add key="PumpNumberOfUserPumps" value="3"/>
        
        <add key="KenoDifficulty" value="classic"/>
        <add key="KenoUserSelectedCases" value="22,10"/>
        
        <add key="DiceThreshold" value="53.03"/>
        <add key="DiceOverUnder" value="under"/>
    </appSettings>
</configuration>